input[type="checkbox"] {
    display: none;
}

.toggle {
    width: 52px;
    height: 26px;
    border: 2px solid #e5eaee;
    text-indent: 100%;
    cursor: pointer;
    transition: left 0.15s ease-out;
    border-radius: 2px;
    position: relative;

    &.active {
        border-color: #67d3e0;

        &:after {
            background-color: #67d3e0;
            left: 28px;
        }
    }

    &:after {
        background-color: #DDD;
        height: 18px;
        width: 18px;
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        left: 3px;
        transition: left 0.15s ease-out;
        border-radius: 2px;
        box-sizing: border-box;
    }
}