<form (ngSubmit)="onSubmit(form.value, form.valid)" novalidate [formGroup]="form" class="login-form allcp-form" [ngClass]="{'submit' : submitted}">

    <h3 class="form-title font-green">{{'FORGET_PASSWORD' | translate}}</h3>

    <p>{{'ENTER_YOUR_EMAIL_RESET_PASSWORD' | translate}}. </p>

    <page-alert
       [message]="errorMessage">
   </page-alert>

   <div class="section">

       <label for="email" class="field prepend-icon">
           <input type="email" autocomplete="off" class="gui-input" placeholder="{{'ENTER_YOUR_EMAIL' | translate}}" formControlName="email" id="email">
           <label for="email" class="field-icon">
               <i class="fa fa-user"></i>
           </label>
       </label>

   </div>

    <div class="section">
        <button type="button" class="btn btn-bordered btn-default pull-left" routerLink="/account/login">
            {{'BACK' | translate}}
        </button>
        <button type="submit" class="btn btn-bordered btn-primary pull-right">
            {{'SEND' | translate}}
        </button>
    </div>

</form>
