h3 {
    color: #67d3e0;
    text-align: center;
    font-size: 28px;
    font-weight: 400 !important;
    padding-bottom: 10px;
}

.form-actions {
    button:first-child {
        float: left;
    }
    button:last-child {
        float: right;
    }
}
