:host {
    min-height: 100vh;
    display: block;
    background: #111112;
}

.login {
    background-color: #364150 !important;
    min-height: 100vh;
    padding: 20px;

    .logo {
        margin: 0 auto;
        padding: 15px;
        text-align: center;
        height: 50px;

        img {
            height: 50px;
        }
    }

    .content {
        background-color: white;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
        border-radius: 4px;
        width: 400px;
        margin: 40px auto 10px auto;
        padding: 30px;
        padding-top: 10px;
        overflow: hidden;
        position: relative;
        box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.3);
        border: 1px solid #DDD;
    }
}
